body {
    overflow-x: hidden;
}

.navbar_link a {
    padding-bottom: 0.2rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

.navbar_link a:hover {
    color: #3182ce;
}

.navbar_link a.active {
    color: #3182ce;
}